name = "seller-intelligence-api-staging"
main = "src/index.ts"
compatibility_date = "2026-07-01"
workers_dev = false
routes = [{ pattern = "<STAGING_WORKER_HOST>/*", zone_name = "<CLOUDFLARE_ZONE_NAME>" }]

[vars]
APP_ENV = "staging"
RUNNER_MODE = "development_locked"
LIVE_CRAWL_ENABLED = "false"
PAID_SERVICES_ALLOWED = "false"
MAX_EXTERNAL_MONTHLY_SPEND_AUD = "0"
ALLOW_EXTRA_SCRAPY_UNITS = "false"
ALLOW_PAID_GITHUB_ACTIONS_MINUTES = "false"
ALLOW_PAID_ADDONS = "false"
ENABLE_AMAZON = "false"
ZYTE_STUDENT_ENTITLEMENT_CONFIRMED = "true"
SCRAPY_CLOUD_DEPLOY_ENABLED = "false"
SCRAPY_CLOUD_MAX_UNITS = "1"
ZYTE_API_ENABLED = "false"
ZYTE_API_DAILY_REQUEST_BUDGET = "0"
ZYTE_API_MONTHLY_BUDGET_USD = "0"
GITHUB_ACTIONS_CRAWLER_ENABLED = "false"
CREDIT_RUNNER_ENABLED = "false"
ACCESS_AUTH_REQUIRED = "true"
TEAM_DOMAIN = "https://<CLOUDFLARE_TEAM_NAME>.cloudflareaccess.com"
POLICY_AUD = "<STAGING_ACCESS_AUD>"
DASHBOARD_ORIGIN = "https://<STAGING_DASHBOARD_HOST>"
INGESTION_ALLOWED_SOURCE_DOMAINS = ""
MAX_BATCH_SELLERS = "25"
MAX_BATCH_CONTACTS = "100"
MAX_BATCH_D1_STATEMENTS = "20"
MAX_COMPRESSED_BODY_BYTES = "262144"
MAX_UNCOMPRESSED_BODY_BYTES = "1048576"

[[d1_databases]]
binding = "CORE_DB"
database_name = "<STAGING_CORE_D1_NAME>"
database_id = "<STAGING_CORE_D1_ID>"
migrations_dir = "../../database/migrations/core"

[[d1_databases]]
binding = "CONTACTS_DB"
database_name = "<STAGING_CONTACTS_D1_NAME>"
database_id = "<STAGING_CONTACTS_D1_ID>"
migrations_dir = "../../database/migrations/contacts"

[[d1_databases]]
binding = "OPS_DB"
database_name = "<STAGING_OPS_D1_NAME>"
database_id = "<STAGING_OPS_D1_ID>"
migrations_dir = "../../database/migrations/operations"

[[d1_databases]]
binding = "HISTORY_DB"
database_name = "<STAGING_HISTORY_D1_NAME>"
database_id = "<STAGING_HISTORY_D1_ID>"
migrations_dir = "../../database/migrations/history"
